- image = image_tag("upvote.gif", id: "upvote_%s" % link.to_param)
= link_to image, {action: "upvote", id: link.to_param, remote: true}, :method => :post, "data-link-id" => link.to_param
= link_to link.name, link.url
%span.link_metadata
  = "(" + link.domain + ")"
.link_metadata
  %span{id: "points_for_%d" % link.to_param}
    = render partial: "votes", object: link
  =" by " + link.username
  = distance_of_time_in_words_to_now(link.created_at) + " ago"
  |
  = link_to pluralize(link.comments.size, "comment"), link
