<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title or "Programmer Links" %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
  <%= render "shared/banner" %>
  <div id="submain">
    <%= yield %>
  </div>
</div>

</body>
</html>
